textarea::placeholder {
    color: yellowgreen;
}
input::placeholder {
    color: yellowgreen;
}

#wrap {
    position: relative;
    width: 95vw;
    height: 95vh;
}
a {
    color: black;
}

#Background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: url('https://image.shutterstock.com/z/stock-photo-creative-fluorescent-green-color-layout-made-of-tropical-leaves-flat-lay-neon-colors-nature-1791162464.jpg');
    background-size: cover;
    opacity: 0.6;
}
#Main {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.dropdown {
    position: relative;
    display: inline-block;
    &:hover .dropdown-content {
        display: block;
    }
}

.dropbtn {
    display: block;
    color: black;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}
.dropdown-content a {
    color: white;
    background-color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    &:hover {
        color: gray;
    }
}
.nav-bar {
    display: flex !important;
    justify-content: space-around;
    gap: 80%;
    height: 10%;
    border-bottom: solid;
    align-items: center;
    border-width: thin;
}
.logo {
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    align-self: center;
    justify-content: center;
    max-width: 100%;
    white-space: pre-line;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: black;
    letter-spacing: 0.16rem;
    line-height: 2.5;
}
.logo a {
    text-decoration: none;
}
.NameBox {
    text-align: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin-bottom: auto;
}
#ImieNazw {
    max-width: 100%;
    white-space: pre-line;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 3rem;
    color: black;
    letter-spacing: 1rem;
    line-height: 2.5;
}

#IDK {
    max-width: 100%;
    font-size: 3rem;
    color: black;
    letter-spacing: 1rem;
    line-height: 2.5;
    border-top: solid;
    border-bottom: solid;
}

.Textbox1 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    margin: auto;
}

.Textbox2 {
    font-size: 1.1rem;
    width: 15%;
    text-align: center;
}
.form {
    position: relative;
    display: flex;
    flex-direction: column;
    textarea {
        resize: none;
        background-color: black;
    }
    input[type='text'] {
        background-color: black;
    }
}

.formField {
    display: block;
    width: 100%;
    height: 20px;
    font-size: 14px;
    padding: 6px;
    color: yellowgreen;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
}
.formFieldArea {
    display: block;
    min-height: 130px;
    font-size: 14px;
    width: 100%;
    padding: 6px;
    color: yellowgreen;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
}
.sendBtn {
    display: block;
    color: black;
    background-color: yellowgreen;
    width: 108%;
    padding: 6px 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

.Add-note {
    margin: 2rem auto;
    padding: 1rem;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.Add-note input {
    display: block;
    margin: 1rem auto;
    width: 20rem;
    padding: 0.5rem;
    border: 1px solid #00b8e6;
    border-radius: 10px;
    outline: none;
}

.Add-note button {
    width: 21rem;
    padding: 0.7rem;
    border: 1px solid #00b8e6;
    background: #00b8e6;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}

.Add-note button:hover {
    background: #0093b8;
}

.Add-note button:disabled {
    background: #d8d8d8;
    border: 1px solid #d8d8d8;
    cursor: not-allowed;
}

.Note {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #fff;
    border-radius: 10px;
}

.Note:not(:last-child) {
    border-bottom: 2px solid #f5f6f7;
}

.Note h1 {
    color: #222;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.7rem;
}

.Note p {
    padding-right: 1rem;
    color: #444;
}
.Note button {
    padding: 0.5rem 0.7rem;
    border: 1px solid #d34b4b;
    background: #d34b4b;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}

.Note button:hover {
    background: #e06a6a;
}

main > h1 {
    text-align: center;
}
.sticky-main {
    margin: 20px auto;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    * {
        margin: 0;
        padding: 0;
    }
    h2 {
        font-weight: bold;
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
        font-weight: normal;
    }
}
.Sticky-Note {
    list-style: none;
    margin: 15px;
    li {
        list-style: none;
        margin: 2em;
    }
    a {
        text-decoration: none;
        color: #000;
        background: #ffc;
        display: block;
        height: 12em;
        width: 12em;
        padding: 1rem;
        box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
        transform: rotate(-6deg);
        transition: transform 0.15s linear;
    }
    &:nth-child(even) a {
        transform: rotate(4deg);
        position: relative;
        top: 5px;
        background: #cfc;
    }
    &:nth-child(3n) a {
        transform: rotate(-3deg);
        position: relative;
        top: -5px;
        background: #ccf;
    }
    &:nth-child(5n) a {
        transform: rotate(5deg);
        position: relative;
        top: -10px;
    }
    a:hover {
        box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
        transform: scale(1.25);
        position: relative;
        z-index: 5;
    }
    a:focus {
        box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
        transform: scale(1.25);
        position: relative;
        z-index: 5;
    }
}

.P-Wrap {
    overflow: scroll;
    max-width: 100%;
    max-height: 85%;
}
